
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 100% 98%;
    --foreground: 204 60% 10%;
    --card: 0 0% 100%;
    --card-foreground: 204 60% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 204 60% 10%;
    --primary: 207 90% 68%;
    --primary-foreground: 210 40% 98%;
    --secondary: 207 40% 96%;
    --secondary-foreground: 207 90% 30%;
    --muted: 204 40% 96%;
    --muted-foreground: 204 10% 40%;
    --accent: 122 39% 64%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 30% 90%;
    --input: 204 30% 90%;
    --ring: 207 90% 68%;
    --radius: 1rem;
    --chart-1: 207 90% 68%;
    --chart-2: 122 39% 64%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
